<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_head" />
</head>
<body class="authentication-body">
  <div class="authentication-wrapper">
    <header class="company-logo">
      <img src="~/image/logo.png" alt="Basilisk">
      <h1>
        Trade of <span class="bold">basilisk</span>
      </h1>
    </header>
    <main>
        @RenderBody()
    </main>
  </div>
</body>