<div class="company-logo">
    <img src="~/image/logo.png" alt="Basilisk">
    <a asp-action="Dashboard" asp-controller="Home">
        <h1>
            Trade of <span class="bold">basilisk</span>
        </h1>
    </a>
</div>
<a class="menu category" asp-controller="Category" asp-action="Index">
    <i class="fas fa-th"></i>
    <span>Category</span>
</a>
<a class="menu supplier" asp-controller="Supplier" asp-action="Index">
    <i class="fab fa-amazon"></i>
    <span>Supplier</span>
</a>
<a class="menu product" asp-controller="Product" asp-action="index">
    <i class="fas fa-box-open"></i>
    <span>Product</span>
</a>