@model ProductViewModel

@section breadcrumbs {
<span> <a asp-action="Index">All Product</a> /Edit</span>
}

<main>
    <form class="upsert-form" method="post" asp-action="Update">
        <table>
            <tbody>

                <tr>
                    <td>
                        <label asp-for="Id">Id</label>
                    </td>
                    <td>
                        <input asp-for="Id" type="text" readonly id="id" name="Id" value="@Model.Id">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Name">Name</label>
                    </td>
                    <td>
                        <input asp-for="Name" type="text" id="name" name="Name">
                        <span asp-validation-for="Name"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="SupplierId"></label>
                    </td>
                    <td>
                        @*<input asp-for="SupplierId" type="text" id="supplierId" name="SupplierId">*@
                        <select asp-for="SupplierId" asp-items="Model.Suppliers">
                            <option value="">No Supplier</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="CategoryId"></label>
                    </td>
                    <td>
                        @*<input asp-for="CategoryId" type="text" id="categoryId" name="CategoryId" >*@
                        <select asp-for="CategoryId" asp-items="Model.Categories">
                            <option value="">No Category</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="textarea-label">
                        <label asp-for="Description">Description</label>
                    </td>
                    <td>
                        <textarea asp-for="Description" id="description" name="Description">@Model.Description</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Price">Price</label>
                    </td>
                    <td>
                        <input asp-for="Price" type="text" id="price" name="Price">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Stock">Stock</label>
                    </td>
                    <td>
                        <input asp-for="Stock" type="text" id="stock" name="Stock" >
@*                        <span asp-validation-for="Stock"></span>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="OnOrder"></label>
                    </td>
                    <td>
                        <input asp-for="OnOrder" type="text" id="onOrder" name="OnOrder" >
                        <span asp-validation-for="OnOrder"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Discontinue">Discontinue</label>
                    </td>
                    <td>
                        <input asp-for="Discontinue" type="checkbox" id="discontinue" name="Discontinue">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="blue-button">Update Product</button>
    </form>
</main>